@import url('https://fonts.googleapis.com/css2?family=Brygada+1918&display=swap');
body{
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    
}
h1{
    text-align: center;
    color: green;
    font-size: 15rm;
}
img {
    display: block; 
    margin: 0 auto; 
    border-radius: 50px;
}
p{
    color: red;
     font-style: italic;
     font-size: 1.5em;
    

}